body{
    background-image: url("/image/xcanasta-fija-con-base-de-anclaje.jpg.pagespeed.ic.LesHiHbrwO.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;

}

img{
    width: 100px;
    height: 100px;
    margin-left: 870px;
}

.btn{
    width: 200px;
    height: 50px;
    margin-top: 750px;
    margin-left: 80vw;
    
}

.animacion {
    animation-name: caida;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-fill-mode: forwards;
    animation-direction: normal;
    animation-timing-function:  cubic-bezier(.18,.07,.95,.89);
   
}

@keyframes caida {
    50% {
        transform: translateY(83vh);
    }
    100% {
        transform: translateY(0vh);
    }
}